@import 'ui-variables';

.menu {
  flex: 1;
  display: flex;
  flex-direction: column;

  .header-container {
    flex-shrink: 0;
    background-color: @background-primary;
    border-bottom: 1px solid @border-color-secondary;
    padding: 8px 12px;
    position: relative;
  }

  .footer-container {
    position: relative;
  }

  .content-container {
    background: @background-primary;
    width: 100%;
    overflow: auto;
  }

  .item {
    display: block;
    padding-left: @padding-base-horizontal;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: @padding-base-horizontal;
    cursor: default;
    color: @text-color;
    width: 100%;
    overflow: hidden;
    transition: all 0.12s ease-in-out;
    border-radius: 4px;
    margin: 2px 4px;

    .primary {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: @font-weight-normal;
    }
    .secondary {
      max-width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-left: 5px;
      color: @text-color-very-subtle;
      font-size: @font-size-smaller;
    }
  }

  .item.divider {
    font-weight: @font-weight-semi-bold;
    color: @text-color-very-subtle;
    font-size: @font-size-smaller;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 4px;
    pointer-events: none;
    letter-spacing: 0.4px;
  }

  .item.checked {
    background-image: url(./images/menu/checked@2x.png);
    background-size: 16px;
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 97%;
    margin-right: 20px;
    padding-right: 10%;
  }

  .item.selected,
  .item:active {
    text-decoration: none;
    background-color: @menu-item-color-selected;
    color: @text-color;
    .primary {
      color: @text-color;
      font-weight: @font-weight-medium;
    }
    .secondary {
      color: @text-color-subtle;
    }
  }

  .item:not(.active):not(.selected):hover {
    text-decoration: none;
    background-color: @menu-item-color-hover;
  }
}
body.platform-win32 {
  .menu {
    .header-container {
      input.search {
        box-shadow: none;
      }
    }
  }
}

.dropdown-menu {
  .menu {
    background: @background-primary;
    width: 250px;
    max-height: 400px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15), 0 1px 4px rgba(0, 0, 0, 0.08);
    border-radius: @border-radius-large;
    border: 1px solid @border-color-secondary;

    .header-container {
      border-bottom: 1px solid @border-color-secondary;
    }
  }
}
